In [1]:
# Importamos librerías

import pandas as pd
import pandasql

In [3]:
# Importar los csv de Amazon, Disney, Hulu y Netflix

amazon_df = pd.read_csv('files/amazon_prime_titles.csv')
disney_df = pd.read_csv('files/disney_plus_titles.csv')
hulu_df = pd.read_csv('files/hulu_titles.csv')
netflix_df = pd.read_csv('files/netflix_titles.csv')

In [4]:
# modificar los Id

amazon_df.insert(0,'id','a'+ amazon_df['show_id'])
disney_df.insert(0,'id','d'+ disney_df['show_id'])
hulu_df.insert(0,'id','h'+ hulu_df['show_id'])
netflix_df.insert(0,'id','n'+ netflix_df['show_id'])

In [5]:
# reemplazar valores nulos de rating

amazon_df['rating'].fillna('g',inplace=True)
disney_df['rating'].fillna('g',inplace=True)
hulu_df['rating'].fillna('g',inplace=True)
netflix_df['rating'].fillna('g',inplace=True)

In [6]:
# reemplazamos valores nulos de rating

amazon_df['rating'].unique()

array(['g', '13+', 'ALL', '18+', 'R', 'TV-Y', 'TV-Y7', 'NR', '16+',
       'TV-PG', '7+', 'TV-14', 'TV-NR', 'TV-G', 'PG-13', 'TV-MA', 'G',
       'PG', 'NC-17', 'UNRATED', '16', 'AGES_16_', 'AGES_18_', 'ALL_AGES',
       'NOT_RATE'], dtype=object)

In [7]:
# reemplazamos valores nulos de rating

def change_rate_amazon(a):
    if a in ('NOT_RATE','UNRATED'):
        return 'g'
    else:
        return a

In [8]:
# reemplazamos valores nulos de rating

amazon_df['rating'] = amazon_df['rating'].apply(change_rate_amazon)

In [9]:
disney_df['rating'].unique()

array(['TV-G', 'PG', 'TV-PG', 'g', 'PG-13', 'TV-14', 'G', 'TV-Y7', 'TV-Y',
       'TV-Y7-FV'], dtype=object)

In [10]:
hulu_df['rating'].unique()

array(['TV-MA', 'g', 'PG-13', 'R', 'TV-14', 'PG', 'TV-PG', 'NOT RATED',
       'G', 'TV-G', '2 Seasons', 'TV-Y', '93 min', '4 Seasons', 'TV-Y7',
       '136 min', '91 min', '85 min', '98 min', '89 min', '94 min',
       '86 min', '3 Seasons', '121 min', '88 min', '101 min', '1 Season',
       '83 min', '100 min', '95 min', '92 min', '96 min', '109 min',
       '99 min', '75 min', '87 min', '67 min', '104 min', '107 min',
       '84 min', '103 min', '105 min', '119 min', '114 min', '82 min',
       '90 min', '130 min', '110 min', '80 min', '6 Seasons', '97 min',
       '111 min', '81 min', '49 min', '45 min', '41 min', '73 min',
       '40 min', '36 min', '39 min', '34 min', '47 min', '65 min',
       '37 min', '78 min', '102 min', '129 min', '115 min', '112 min',
       'NR', '61 min', '106 min', '76 min', '77 min', '79 min', '157 min',
       '28 min', '64 min', '7 min', '5 min', '6 min', '127 min',
       '142 min', '108 min', '57 min', '118 min', '116 min', '12 Seasons',
       '71 min'], dtype=object)

In [11]:
rate_list = ['TV-MA','g','PG-13','R','TV-14','PG','TV-PG','G','TV-G','TV-Y']

In [12]:
# reemplazamos valores nulos de rating

def change_rate_hulu(a):
    if a not in rate_list:
        return 'g'
    else:
        return a

In [13]:
# reemplazamos valores nulos de rating

hulu_df['rating'] = hulu_df['rating'].apply(change_rate_hulu)

In [14]:
rate_list_netflix = ['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', 'NR', 'g',
       'TV-Y7-FV', 'UR']

In [15]:
# reemplazamos valores nulos de rating

def change_rate_net(a):
    if a not in rate_list_netflix:
        return 'g'
    else:
        return a

In [16]:
# reemplazamos valores nulos de rating

netflix_df['rating'] = netflix_df['rating'].apply(change_rate_net)

In [17]:
# convertir la columna de date added a datetime

amazon_df['date_added'] = pd.to_datetime(amazon_df['date_added'],format="%B %d, %Y")
disney_df['date_added'] = pd.to_datetime(disney_df['date_added'],format="%B %d, %Y")
hulu_df['date_added'] = pd.to_datetime(hulu_df['date_added'],format="%B %d, %Y")

In [18]:
# limpiar el date added de Netflix y convertir la columna a datetime

def clear(a):
    if type(a) == float:
        return str(a)
    else:
        if a.startswith(' '):
            return str(a[1:])
        else:
            return str(a)

netflix_df['date_added'] = netflix_df['date_added'].apply(clear)
netflix_df['date_added'] = pd.to_datetime(netflix_df['date_added'],format="%B %d, %Y")

In [19]:
# Unimos los dataframes para hacer achicar el código

plataformas_total_df = pd.concat([amazon_df,disney_df,hulu_df,netflix_df])

In [20]:
# Ponemos todos los textos en minúscula

plataformas_total_df['type'] = plataformas_total_df['type'].str.lower()
plataformas_total_df['title'] = plataformas_total_df['title'].str.lower()
plataformas_total_df['director'] = plataformas_total_df['director'].str.lower()
plataformas_total_df['cast'] = plataformas_total_df['cast'].str.lower()
plataformas_total_df['country'] = plataformas_total_df['country'].str.lower()
plataformas_total_df['rating'] = plataformas_total_df['rating'].str.lower()
plataformas_total_df['duration'] = plataformas_total_df['duration'].str.lower()
plataformas_total_df['listed_in'] = plataformas_total_df['listed_in'].str.lower()
plataformas_total_df['description'] = plataformas_total_df['description'].str.lower()

In [21]:
# transformamos la columna duration en dos columnas: duration int(cant. de tiempo) y duration type(minutos o temporada)
# borramos la columna show_id
plataformas_total_df['duration_int'] = plataformas_total_df['duration'].str.split(' ').str[0]
plataformas_total_df['duration_type'] = plataformas_total_df['duration'].str.split(' ').str[1]
plataformas_total_df['duration_int'] = plataformas_total_df['duration_int'].astype('Int64')
plataformas_total_df['duration_type'] = plataformas_total_df['duration_type'].str.replace('seasons','season')
plataformas_total_df.drop('duration',axis=1,inplace=True)
plataformas_total_df.drop('show_id',axis=1,inplace=True)

In [22]:
# Nombramos las distintas plataformas para las consultas.

def nombrar_plataformas(a):
    if a.startswith('a'):
        return 'amazon'
    elif a.startswith('d'):
        return 'disney'
    elif a.startswith('h'):
        return 'hulu'
    elif a.startswith('n'):
        return 'netflix'
    else:
        return 'no clue'

plataformas_total_df['platform'] = plataformas_total_df['id'].apply(nombrar_plataformas)

In [24]:
# Pasamos a la parte de la carpeta de ratings

rating_1 = pd.read_csv('files/ratings/1.csv')
rating_2 = pd.read_csv('files/ratings/2.csv')
rating_3 = pd.read_csv('files/ratings/3.csv')
rating_4 = pd.read_csv('files/ratings/4.csv')
rating_5 = pd.read_csv('files/ratings/5.csv')
rating_6 = pd.read_csv('files/ratings/6.csv')
rating_7 = pd.read_csv('files/ratings/7.csv')
rating_8 = pd.read_csv('files/ratings/8.csv')

In [25]:
# Unimos los distintos dataframes de rating.

rating_total = pd.concat([rating_1,rating_2,rating_3,rating_4,rating_5,rating_6,rating_7,rating_8])

In [26]:
# Convertimos las fechas de las reseñas en AAAA-mm-dd format.
rating_total['date_of_review'] = pd.to_datetime(rating_total['timestamp'],unit='s')

In [27]:
# modificamos los nombres de algunas columnas para mejor lectura

rating_total['user_rating'] = rating_total['rating']
rating_total.drop('rating',axis=1,inplace=True)

In [28]:
# Importamos pandasql y hacemos queries para sacar promedio de las reseñas de usuarios
# y sumarlos al df de las plataformas de streaming.

query1 = 'SELECT movieId,AVG(user_rating) FROM rating_total GROUP BY movieId;'
ratings_avg = pandasql.sqldf(query1, locals())

query2 = 'SELECT * FROM plataformas_total_df JOIN ratings_avg ON (plataformas_total_df.id = ratings_avg.movieId);'
stream_mas_ratings_avg = pandasql.sqldf(query2, locals())

# Ponemos el nombre scored a los promedios de las reseñas y borramos las columnas duplicadas

stream_mas_ratings_avg['scored'] = stream_mas_ratings_avg['AVG(user_rating)']
stream_mas_ratings_avg.drop('AVG(user_rating)',axis=1,inplace=True)
stream_mas_ratings_avg['duration_int'] = stream_mas_ratings_avg['duration_int'].astype('Int64')
sps = pd.DataFrame(stream_mas_ratings_avg)
# sps.drop('show_id',axis=1,inplace=True)

In [29]:
# Redondeamos las reseñas de los usuarios para las consultas de la API
def rounded(a):
    return round(a,1)

In [30]:
sps['scored']=sps['scored'].apply(rounded)

In [30]:
# Hacemos un df llamado total_df para las consultas con todas las plataformas y los promedios de las reseñas de los usuarios
total_df = sps.to_csv('total_df.csv')

In [34]:
# Armamos un dataframe con el promedio de user_rating por cada título y la cantidad de críticas por película
# para usar en el EDA.

average =pd.DataFrame(rating_total.groupby(['movieId']).mean(numeric_only=True)['user_rating'])

In [35]:
average['mean_rating'] = average['user_rating']

In [36]:
average.drop('user_rating',axis=1,inplace=True)

In [37]:
ratings_count = rating_total.groupby(['movieId']).count()['user_rating']

In [38]:
ratings_by_quantity = pd.merge(average,ratings_count,left_on=average.index,right_on=ratings_count.index)

In [39]:
ratings_by_quantity.set_index('key_0')

        mean_rating  user_rating
key_0
as1        3.467131          502
as10       3.439571          513
as100      3.609302          430
as1000     3.556701          485
as1001     3.585288          469
...             ...          ...
ns995      3.515625          448
ns996      3.626518          494
ns997      3.530526          475
ns998      3.582645          484
ns999      3.494781          479

[22998 rows x 2 columns]

In [41]:

ratings_by_quantity.to_csv('ratings_by_quantity.csv')